// import code exercise scss to generate css file
@import "code-exercise";
.image {
  //including some base styles so this shows up in the basic page, feel free to change these
padding-top: 1.5rem;

}

body{
  background-color: #f3f3f3;
}
.mm-card{
  background-color: azure;

}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.text-area{
  padding-top: 1.5rem;
};
.btn-primary{
  color: #000;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.2rem 4rem;
  background-color: yellow;
  border: 0;
  border-radius: 0;
}